body,
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
 overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

p{
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
}

a:hover {
  text-decoration: none;
}


/* Navigation */
.navbar-inverse {
  background-color: #1a781b;
  border-color: #76db36;
}

.navbar-nav li {
  display: inline-block;
  padding: 10px;
}

.navbar-inverse .navbar-nav li a {
  background: #1a781b none repeat scroll 0 0;
  border: 1px solid #76db36;
  color: #fff ;
  font-size: 20px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav li a.current,
.navbar-inverse .navbar-nav li a:hover {
  background: #76db36;
  color: black;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}


/* Slick Nav */
.slicknav_menu {
  display:none;
}

.slicknav_nav a {
  text-transform: capitalize;
}

.slicknav_menu {
  background: #40475a none repeat scroll 0 0;
}


/* Scroll To Top */
/* Image Style */
#scrollUp {
  background-image: url("../img/top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;    /* Width of image */
  height: 38px;   /* Height of image */
}


/* Start Main Menu */
.intro-section {
  background-image: url("../img/GreenhouseSky.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  margin-bottom: 20px;
  background-attachment: fixed;
  height: 800px;
}

ul#menu {
 background: #40475A none repeat scroll 0 0;
 padding: 6px;
 position: fixed;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 width: 100%;
 z-index: 999;
  }

.main-menu {
  margin-top: -234px;
}

.main-menu ul li {
  display: inline-block;
  padding: 10px;
}

.main-menu ul li a {
  background: #383E4C none no-repeat scroll 0 0;
  border: 1px solid #646d7c;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.main-menu ul li a:focus,
.main-menu ul li a:hover {
  background: #49505F;
}

.header-content  h1 {
  color: #76db36;
  font-size: 150px;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
}

.header-content h4 {
  color: #fff;
  font-size: 55px;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.single-page-nav {
  text-align: center;
}


/* Start Feature */
.feature-content {
  background: #F2F2F2;
  padding-bottom: 40px;
  display: inline-block;
}

.feature-content-title {
  padding: 0 20px;
  text-align: left;
}

.feature-content-description {
  padding: 0 20px 35px;
  text-align: left;
  color: #333333;
  margin-top: 15px;
}

.feature-content-link {
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feature-content-link:hover,
.feature-content-link:link,
.feature-content-link:visited  {
  color: white;
  text-decoration: none;
}


/* Start Mission */
#mission-area {
  margin: 0px 5px;
}

.mission-section {
  height: 100%;
  padding-top: 25px;
}

.mission-content-row {
  padding-top: 50px;
  padding-bottom: 60px;
}

.mission-content {
  background: #E4FAD7;
  padding-bottom:25px;
  max-width: 555px;
  margin: 0 auto;
}

.mission-content p {
  padding-left: 20px;
  padding-right:20px;
  text-align: left;
  color: #333333;
}

.mission-content-image-container {
  height: 400px;
}

.mission-content-image {
  width: 100%;
  height: 100%;
}

.mission-content h2 {
  color: #666666;
  text-transform: capitalize;
}

.mission-content span {
  margin-left: 225px;
}

.mission-content span a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666666;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.mission-content span a:hover {
  background: #E6E6E6 none repeat scroll 0 0;
}

.mission-content > p#missionfr {
  padding: 8px;
}


/* Start Services */
div#services-area {
  float: left;
  width: 100%;
}

.my-service{
  margin:65px 0px 65px;
}

section#services-area {
  background-image: url("../img/LeafArt.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 800px;
}

.service  h1 {
  color: #000;
  font-size: 4em;
  text-transform: capitalize;
  text-shadow: 2px 2px #40475A;
  padding-top: 50px;
  margin-bottom: 20px;
}

.services-section {
  max-height: 100%;
  height: 500px;
}

.service p {
  color: #000;
  font-size: 25px;
  padding: 40px 0px;
}



/* Start Post Row */
#row {
  margin: 60px 0;
}

h2 {
  color: #666;
}

#postrow-area {
  background-color: #f2f2f2;
  background-image: url("../img/PostRow.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  height: 420px;
}

.postrow-header {
  color: #76db36;
  font-size: 100px;
  position: absolute;
  padding-top: 100px;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
}

.postrow-subtitle {
  font-size: 2em;
  padding-bottom: 10px;
}

.postrow-content  p {
  padding: 0px 0px;
  text-align: left;
}

.postrow-box {
  background-color: #f2f2f2;
  max-width: 100%;
}

.postrow-box-description {
  padding: 30px 30px 15px 30px;
}

.postrow-box-p {
  max-height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.postrow-box-p:last-child {
  margin-bottom: 0;
}


/* Post Row Dropdown */
.dropbtn {
  background: #E4FAD7 none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  color: #666;
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropbtn:hover,
.dropbtn:focus {
  background: #E4FAD7 none repeat scroll 0 0;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #F2F2F2;
  height: auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  top: auto;
  bottom: 100%;
}

.dropup:hover
.dropup-content {
  display: block;
}

.spidermites {
  width: 400px;
  text-align: center;
}

.spidermites-image {
  width: 400px;
}


/* Start Contact */
#section5 {
  height: 466px;
}

section#contact-area {
  background-image: url("../img/LeafArt2.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 540px;
}

.contact-section {
  height: 100%;
  padding-bottom: 120px;
}

.contact-section .container {
height: 334px;
}

.contact-content h1 {
  color: #000;
  font-size: 4em;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-shadow: 2px 2px #40475A;
}

.contact-content p {
  background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
}

.contact-form-left {
  padding-left: 0;
}

.contact-form-right {
  padding-right: 0;
}

input {
  margin-bottom: 15px;
}

.form-control {
  color: #000;
  border: none;
  background: rgba(242, 242, 242, 0.4);
}

.submit-btn .btn-default {
  background: #40475A none repeat scroll 0 0;
  color: #fff;
  margin-top: 20px;
  padding: 5px 30px;
  font-size: 18px;
  border-radius:10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submit-btn {
  margin: 0 auto;
}

#submit:hover {
  color: #000;
  background: #76db36;
  border-color: #76db36;
}

.form-control::-webkit-input-placeholder {
  color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: black;
}

.form-control:-ms-input-placeholder {
  color: black;
}


/* Start Footer */
#footer-area.container.row {
  height: 334px;
}

.footer-content h1 {
  color: #000;
  font-size: 32px;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 30px;
}

p.footer-content {
  font-size: 16px;
}

.excluding {
  color: #999;
  font-style: italic;
}

.excluding a {
  color: limegreen;
}

.copy {
  color: #666;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}


/*--- Media Queries ---*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mission-content  p#missionfr {
    padding: 18px;
  }

  .contact-content p {
    font-size: 15px;
  }

  .mission-section {
    padding-top: 0px;
  }

  .mission-content-row {
    padding-top: 5px;
  }

  .mission-content {
    padding-top: 10px;
  }

  .postrow-box-description {
    padding-top: 0px;
  }

  .postrow-subtitle {
    margin-top: 0px;
  }

}


/***  Tablet Layout: 768px ***/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-content h1 {
    font-size: 7em;
  }

  .mission-content {
    padding-bottom: 5px;
  }

  .mission-content p {
    margin-bottom: 21px;
    padding: 10px;
    padding-bottom: 0px;
  }

  .mission-content span {
    margin-left: 0;
  }

  .mission-section {
    padding-top: 5px;
  }

  .mission-content-row {
    padding-top: 15px;
  }

  #services-area container {
    height: 400px;
  }

  .my-service {
    margin: 0px;
  }

  .service h1 {
    padding-top: 100px;
  }

  .service  p {
    font-size: 18px;
  }

  .postrow-subtitle {
    margin-top: -10px;
  }

  .postrow-box-description {
    margin-bottom: 25px
  }

  .contact-content p {
    font-size: 18px;
    padding: 15px 0;
  }

  .navbar-nav li {
    padding: 6px;
  }

  .navbar-inverse .navbar-nav li a {
    font-size: 16px;
  }
}


@media only screen and (max-width: 1024px) {
  header,
  section#services-area,
  section#contact-area {
    background-attachment: scroll;
  }

  #footer-area h1 {
    font-size: 1.5em;
  }

}


@media only screen and (max-width: 767px) {
  header {
    height: 30vh;
    padding: 0 15px;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
     align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #section1,
  .intro-section {
    height: 780px;
  }

  ul#menu {
    display:none;
  }

  .wrapper-container {
    margin-left: 0;
    margin-right: 0;
  }

  .intro-section {
    padding-top: 0px;
  }

  .header-content h1 {
    font-size: 7em;
  }

  .header-content h4 {
    font-size: 5em;
  }

  .feature-content {
    max-width: 360px;
    margin: 0 auto 30px;
  }

  .feature-content-title,
  .feature-content-description {
   text-align: center;
  }

  #section2 {
    height: 1560px;
  }

  .mission-content {
    margin-bottom: 30px;
  }

  .mission-content p {
    text-align: center;
  }

  .mission-content span {
    margin-left: 0;
  }

  .mission-content-row {
    padding-top: 20px;
  }

  .mission-column1,
  .mission-column2 {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mission-column2 {
    padding-right: 0px;
  }

  .services-area {
    height: 780px;
  }

  .my-service {
    margin-top: 160px;
  }

  .service {
    max-height: 100%;
  }

  .service h1 {
    padding-top: 0px;
  }

  .service p {
    padding-top: 0px;
  }

  .postrow-header {
    font-size: 3em;
    padding-top: 0px;
  }

  .dropup {
    padding-bottom: 20px;
  }

  section#contact-area {
    height: 665px;
  }

  .contact-section {
    padding-top: 0px;
    padding-bottom: 110px;
  }

  .contact-form-left {
    padding-right: 0;
  }

  .contact-form-right {
    padding-left: 0;
  }

  .submit-btn .btn-default {
    margin-top: 0px;
  }

  .postrow-content p {
    text-align: center;
  }

  h1.footer-content {
    margin-top: 5px;
  }

  .footer-content h4 {
    font-size: 16px;
  }

  .copy {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .navbar-nav li {
    display: block;
  }

  .navbar-inverse {
    background: none;
    border: none;
  }

  .navbar-inverse .navbar-toggle {
    background-color: #333;
    border-color: #76db36;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: #49505F;
  }

  .navbar .navbar-nav {
    width: 100%;
    margin:0;
  }

  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-nav li {
    width: 100%;
    border-bottom: 1px solid #999;
    padding:0px;
  }

  .navbar-nav li:last-child {
    border-bottom: none;
  }

  .navbar-inverse .navbar-nav li a {
    background:none;
    border: none;
    width: 100%;
    padding: 10px 0px;
  }

  .navbar-inverse .navbar-nav li a:focus,
  .navbar-inverse .navbar-nav li a:hover {
    background-color: #76db36;
  }

  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-nav .active a:focus,
  .navbar-inverse .navbar-nav .active a:hover {
    background: #383E4C;
  }

  .navbar-inverse .navbar-nav li a {
    font-size: 16px;
  }

  .single-page-nav {
     background-color: #383E4C;
     max-height: 0;
    -webkit-transition: max-height 0.8s;
            transition: max-height 0.8s;
            overflow: hidden;
  }

  .single-page-nav.show {
    max-height: 250px;
    overflow: auto;
  }

  .slicknav_menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background:none;
  }


  /*** Wide Mobile Layout: 480px. ***/
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-content h1 {
      font-size: 7em;
    }

    section#section2 {
      height: 800px;
      width: 100%;
    }

  }

  @media only screen and (max-width: 520px) {
    .col-xxs-12 {
      width: 100%;
      background-repeat: no-repeat;
    }

    .header-content {
      padding-top: 100px;
    }

    .mission-section {
      padding-top: 0px;
    }

    #postrow-area {
      height: 390px;
    }

  }

  @media only screen and (max-width: 480px) {
    header {
      height: 30vh;
      background-repeat: no-repeat;
    }

    .service p {
      font-size: 25px;
    }
  }

}
