.java {
  color: #614035;
}

.main-title {
  color: #46B8B8;
  font-size: 4em;
  text-align: center;
  padding-top: 20px;
}

#submit-button {
  margin: 0 auto;
  background-color: #46B8B8;
}

.madlibColumn {
  line-height: 4;
  padding-top: 10px;
}
