body {
	background-color: #fff;
}

p {
  margin: 0;
  font-family: 'Sedgwick Ave Display';
  position: relative;
  padding-left: 5px;
  left: 5%;
  color: #93c1c1;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.calculator {
	background-color: lightgrey;
	max-width: 320px;
	height: 365px;
	margin: 100px auto;
	padding-top: 16px;
	border-radius: 5px;
	box-shadow: 4px 4px 6px #888888;
}

.screen {
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	max-width:280px;
    height: 25px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(206, 230, 230);
}

.calcRow {
	display: inline-block;
	margin-left: 20px;
}

.button {
	display: inline-block;
	background-color: #93c1c1;
	width: 65px;
	height: 30px;
	margin-right: 2px;
	margin-top: 10px;
	padding-top: 20px;
	text-align: center;
	border-radius: 5px;
}




